In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dataframe=pd.read_csv('strokeChange.csv')
dataframe=dataframe.drop('id', axis=1)

C:\Users\Supraja V\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,5,6,7,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
dataframe

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0.0,1.0,Yes,Private,Urban,228.69,36.600000,formerly smoked,1.0
1,Female,61.0,0.0,0.0,Yes,Self-employed,Rural,202.21,30.600000,never smoked,1.0
2,Male,80.0,0.0,1.0,Yes,Private,Rural,105.92,32.500000,never smoked,1.0
3,Female,49.0,0.0,0.0,Yes,Private,Urban,171.23,34.400000,smokes,1.0
4,Female,79.0,1.0,0.0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.960372,NaN,NaN